*,
*:before,
*:after,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  height: 59px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  /* width: 100%; */
  margin: 0 auto;
  padding: 10px 10px;
}

.logo {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  font-family: cursive;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo:hover {
  background: -webkit-linear-gradient(#333, #333);
  -webkit-background-clip: text;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-family: cursive;
  font-weight: 500;
}

.nav-items a:hover {
  color: #000;
  text-decoration: none;
}

.nav-wallet button {
  padding: 8px 15px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #333;
  color: #fff;
  background: #333;
  cursor: pointer;
  font-size: 15px;
  font-family: cursive;
}

.nav-wallet button:hover {
  background: #000;
}

p#walletAddress {
  cursor: pointer;
  font-size: 15px;
  font-family: cursive;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 30px;
}

.project {
  width: 550px;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  border-radius: 6px;
  margin-top: 75px;
}

.projectTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.projectTask h3 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 25px;
  font-family: cursive;
  font-weight: 500;
}

.progressLine {
  width: 100%;
  height: 1px;
  background: #cdcdcd;
  margin: 30px 0px;
  position: relative;
}

.lineItem {
  position: absolute;
  color: #cdcdcd;
}

.lineItem.line1 {
  top: 4px;
  left: 10px;
}

/* .lineItem.line2 {
  top: 4px;
  left: 155px;
} */

.lineItem.line2 {
  top: -19px;
  left: 155px;
}

.lineItem.line3 {
  top: 4px;
  left: 296px;
}

/* .lineItem.line4 {
  top: 4px;
  right: 78px;
} */

.lineItem.line4 {
  top: -19px;
  right: 78px;
}

.progress {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.progressItems {
  background-size: 8px 8px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-color: #1a1a1a;
  height: 176px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  overflow: hidden;
}

.stripes {
  display: block;
  width: 100%;
  background-color: #ada7c8;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  position: relative;
  animation: auto-progress 10s infinite linear;
  bottom: -86px;
}

.stripes::after {
  content: "";
}

.progressItem1 {
  height: 51%;
  background-color: #ada7c8;
}

.progressItem2 {
  height: 26%;
  background-color: #fff;
  bottom: -130px;
}

.progressItem3 {
  height: 55%;
  background-color: #ff5b36;
}

.progressItem4 {
  height: 17%;
  background-color: #adadad;
  bottom: -146px;
}

form#formAdd {
  width: 350px;
  display: flex;
  align-items: center;
  height: 45px;
  gap: 10px;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-family: cursive;
}

button[type="submit"] {
  padding: 10px 8px;
  border-radius: 4px;
  outline: none;
  height: 100%;
  width: 30%;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 500;
  font-family: cursive;
  cursor: pointer;
  background: #333333;
  color: #fff;
}

.taskBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#btnListTask {
  padding: 10px 15px;
  border: none;
  background: #333333;
  color: white;
  font-family: cursive;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

p#status {
  font-size: 20px;
  margin: 10px 0px;
  font-family: cursive;
  font-weight: 600;
}

.table {
  width: 700px;
  font-family: cursive;
  font-weight: 500;
}

.table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 600;
}

.table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.table .col-1 {
  flex-basis: 10%;
}
.table .col-2 {
  flex-basis: 40%;
}

.table .col-3 {
  flex-basis: 25%;
}

@media all and (max-width: 767px) {
  .table-header {
    display: none;
  }
  .table-header .table-row {
  }
  .table-header li {
    display: block;
  }
  .table-header .col {
    flex-basis: 100%;
  }
  .table-header .col {
    display: flex;
    padding: 10px 0;
  }
  .table-header .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
